<div>
  <div class="col margin-top-bottom" *ngFor="let product of cartProductsList">
    {{product.name}} <span>Price : Rs.{{product.quantity == 1 ? product.price:product.rate/product.quantity}}</span>
    <div>
      quantity - {{product.quantity}}
      <button (click)="decreaseQuantity(product.id)" >-</button>
      <button (click)="increaseQuantity(product.id)">+</button>
    </div>
  </div>
</div>

<div>
  <h4>Cart Total : Rs.{{cartTotal}}</h4>
  <a [routerLink]="['/buy']">Buy Now</a>
</div>

<div>
  <a [routerLink]="['/']"> Go Back</a>
</div>